{% extends "main/base.html" %}


{% block title %}
About - Page
{% endblock %}


{% block content %}

<section class="head-section">
  <div class="head-container d-flex-column justify-content-center">
    <h1 class="p-2">About Munjez</h1>
    <p class="p-2">Trusted home services professionals since 2025</p>
    <div class="links d-flex justify-content-center gap-3 p-2">
      <a href="#" class="butn btn-service">Get Service</a>
      <a href="#" class="butn btn-button">How to use</a>
    </div>
</section>

<section class="d-flex flex-column p-5 flex-md-row align-items-center">
  <div class="left-container w-100 m-5">
    <h1>Our Story</h1>
    <p>Founded in 2015, Munjez began with a simple mission: to make home services reliable, convenient, and affordable.
    </p>
    <p>What started as a small team of dedicated professionals has grown into a trusted network of skilled technicians
      serving thousands of homes across the country. Our journey has been fueled by a passion for excellence and a
      commitment to customer satisfaction. Today, we're proud to be the go-to solution for homeowners seeking quality
      repairs, maintenance, and improvements. Our team continues to grow, but our core values remain the same.</p>
    <a href="" class="btn btn-primary p-3">Our Services</a>
  </div>
  <div class="right-container w-100 m-5">
    <img class="w-100 rounded-2" src="https://images.pexels.com/photos/3184398/pexels-photo-3184398.jpeg?_gl=1*1k3r8kd*_ga*MTQ2MDc3NjczOC4xNzUyOTI1OTU4*_ga_8JE65Q40S6*czE3NTMyMTYxMTkkbzUkZzEkdDE3NTMyMTYxNTAkajI5JGwwJGgw" alt="">
  </div>
</section>
</div>

</div>

{% endblock %}