{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<section class="d-flex justify-content-center bg-light rounded-5 m-5" >
  <form method="POST" action="{% url 'services:add_worker' %}" class="d-flex flex-column m-5" enctype="multipart/form-data">
    {% csrf_token %}

    <input placeholder="name" type="name" name="name" id=""/>
    <textarea name="about" placeholder="about" id=""></textarea>
    <input placeholder="email" type="email" name="email" id=""/>

    <select name="category" required>
      <option disabled selected value="">Select category...</option>
      <option  value="electrician">elictrical</option>
      <option  value="plumber">swimming</option>
    </select>

    <select name="activated" required>
      <option disabled selected value="">Select Status...</option>
      <option  value="True">Activated</option>
      <option  value="False">Disabled</option>
    </select>

    <input name="image" type="file" accept="image/jpeg"/>

    <input type="number" name="rating" id=""/>

    <button type="submit">submit</button>


  </form>
</section>

{% endblock %}
<!-- 
  name = models.CharField(max_length=30)
  about = models.TextField(max_length=300)
  email = models.EmailField()
  category = models.CharField(max_length=30,choices=CATEGORY_CHOICES)
  rating = models.DecimalField(max_digits=2, decimal_places=1)
  created_at = models.DateTimeField(auto_now_add=True)
  profile_img = models.ImageField(default='images/default.jpg')
  activated = models.BooleanField(default=False) -->