{% extends 'main/base.html' %}
{% block content %}

<div class="cards-container">
    <section id="head-section" class="d-flex flex-column m-5 text-center">
        <div class="cards">
            <div class="container my-1">
                <h2 class="text-center mb-4">Workers</h2>
                <div class="row g-4">

                    <div class="col-md-3">
                        <div class="card service-card shadow">
                            <div class="rounded-3 bg-primary text-white">
                                <img class="rounded-1" style="width: 100%; height: 100%; object-fit: cover;"
                                    src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?_gl=1*yjzlvi*_ga*MTgzNjY3Mzg0OC4xNzUyNjYyMzI3*_ga_8JE65Q40S6*czE3NTMyNTQ1ODkkbzQkZzEkdDE3NTMyNTQ2MDEkajQ4JGwwJGgw"
                                    alt="">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Mohammed bagdos</h5>
                                <p class="btn btn-secondary" style="font-size: 0.rem;">Electrical</p>
                                <p class="card-text">Expert plumbing services for installations, leaks, and repairs.
                                </p>
                                <a href="#" class="btn btn-primary">Get Help</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </section>
</div>

{% endblock %}