{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<section class="py-5 bg-light">
  <div class="container rounded-4">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card border-0 shadow-sm">
          <div class="card-body p-4">
            <div class="error w-100 p-2 d-flex justify-content-center align-items-center text-danger">
              <p>{{error}}</p>
            </div>
            <h2 class="fw-bold mb-4 text-center">SIGN IN</h2>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="mb-4">
                <label class="form-label fw-medium text-muted">Username</label>
                <div class="input-group">
                  <span class="input-group-text bg-white"><i class="fa-solid fa-envelope text-primary"></i></span>
                  <input name="username" type="text" class="form-control py-2" placeholder="Enter your username"
                    required>
                </div>
              </div>
              <div class="password-group d-flex justify-content-around gap-3">
                <div class="mb-4 w-100">
                  <label class="form-label fw-medium text-muted">Password</label>
                  <div class="input-group">
                    <span class="input-group-text bg-white"><i class="fa-solid fa-lock text-primary"></i></span>
                    <input name="password" type="password" class="form-control py-2" placeholder="Enter your password"
                      required>
                  </div>
                </div>
              </div>


              <button type="submit" class="btn btn-primary w-100 py-2 rounded-pill fw-medium mt-5">
                <i class="fa-solid fa-user-plus"></i>
                SIGN IN
              </button>

              <div class="text-center mt-2 mb-3">
                <span>
                  Don't have an account? <a href="{% url 'accounting:signup_page' %}">Sign up</a>
                </span>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}